body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    background-color: #f0f0f0;
}

nav {
    display: flex;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    position: fixed;
    justify-content: space-around;
    width: 100%;
    height: auto;
    right: 0;
    left: 0;
    top: 0;
    margin-top: 0;
    border-radius: 0;
    padding: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); 
    z-index: 1000;
    transition: all 0.4s ease;
}

button {
    display: flex;
    position: relative;
    cursor: pointer;
    color: #d76c31;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease;
    text-transform: uppercase;
    border: none;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    width: auto;
    height: auto;
    justify-content: center;
}

button:hover {
    letter-spacing: 3px;
    box-shadow: black 0px 7px 29px 0px;
}

a {
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
}   

.logo {
    display: flex;
    width: 90px;
    transition: 0.3s ease;
}

.logo:hover{
    width: 100px;
    transition: 0.3s ease;
}



.content {
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
    margin-top: 9em;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
.content h1 {
    color: #d76c31;
}



footer {
    background-color: #222222;
    color: #d76c31;
    text-align: center;
    justify-content: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20em;
}



@media (max-width: 1100px) {
    nav {
        gap: 15px;
        flex-direction: column;
    }

    button {
        font-size: 1rem;
        padding: 0.5rem 1.5rem;
        margin-bottom: 10px;
    }
    
    .content {
        max-width: 700px;
        margin: auto;
        margin-top: 20em;
        font-size: 20px;
    }
    
    .content h1 {
        margin: 15px 0;
        margin-top: 15px;
    }
    
    .content p {
        margin: 0 20px;
        margin-bottom: 20px;
    }

    footer {
        font-size: 0.9em;
    }
}

@media (max-width: 800px) {
    
    .content {
        max-width: 500px;
        margin-top: 21em;
        font-size: 20px;
    }
    
    .content h1 {
        margin: 15px 0;
        margin-top: 15px;
    }
    
    .content p {
        margin: 0 20px;
        margin-bottom: 20px;
    }
}

@media (max-width: 600px) {
    button {
        font-size: 0.9rem;
        padding: 0.5rem 1.2rem;
    }
    
    .content {
        max-width: 300px;
        margin-top: 25em;
        font-size: 15px;
    }
    
    .content h1 {
        margin: 15px 0;
        margin-top: 15px;
    }
    
    .content p {
        margin: 0 20px;
        margin-bottom: 20px;
    }

    footer {
        font-size: 0.8em; 
    }
}